<div class="workout-container">
  <mat-form-field appearance="outline" class="search-field" data-test-id="search">
    <mat-label>Workouts durchsuchen</mat-label>
    <input 
      matInput 
      [value]="searchTerm()" 
      (input)="onSearchChange($event)" 
      placeholder="z. B. Beintraining..."
    >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <table mat-table [dataSource]="filteredWorkouts()" class="mat-elevation-z8">
    
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Datum </th>
      <td mat-cell *matCellDef="let workout"> {{ workout.date | date:'dd.MM.yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Dauer (Min) </th>
      <td mat-cell *matCellDef="let workout"> {{ workout.duration }} min </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
      <td mat-cell *matCellDef="let workout"> {{ workout.name }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Aktionen </th>
      <td mat-cell *matCellDef="let workout">
        <button mat-icon-button color="primary" (click)="editWorkout(workout)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteWorkout(workout.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Keine Workouts für "{{searchTerm()}}" gefunden.</td>
    </tr>
  </table>
</div>